
data/PseudoAbsences/Lissotriton_helveticus_pseudo_absences.shx
data/OccurrenceData/NBN_Atlas_Occurrences.cpg
data/OccurrenceData/NBN_Atlas_Occurrences.dbf
data/OccurrenceData/NBN_Atlas_Occurrences.prj
data/OccurrenceData/NBN_Atlas_Occurrences.sbn
data/OccurrenceData/NBN_Atlas_Occurrences.sbx
data/OccurrenceData/NBN_Atlas_Occurrences.shp
data/OccurrenceData/NBN_Atlas_Occurrences.shp.LAPTOP-9GSEFVA9.19840.8084.sr.lock
data/OccurrenceData/NBN_Atlas_Occurrences.shp.LAPTOP-9GSEFVA9.30268.8084.sr.lock
data/OccurrenceData/NBN_Atlas_Occurrences.shp.xml
data/OccurrenceData/NBN_Atlas_Occurrences.shx
data/PseudoAbsences/Bufo_bufo_pseudo_absences.dbf
data/PseudoAbsences/Bufo_bufo_pseudo_absences.shp
data/PseudoAbsences/Bufo_bufo_pseudo_absences.shx
data/PseudoAbsences/Lissotriton_helveticus_pseudo_absences.dbf
data/PseudoAbsences/Lissotriton_helveticus_pseudo_absences.shp
data/PseudoAbsences/Lissotriton_helveticus_pseudo_absences.shx
data/PseudoAbsences/Rana_temporaria_pseudo_absences.dbf
data/PseudoAbsences/Rana_temporaria_pseudo_absences.shp
data/PseudoAbsences/Rana_temporaria_pseudo_absences.shx
data/PseudoAbsences/Rana_temporaria_pseudo_absences.shx
data/PseudoAbsences/Rana_temporaria_pseudo_absences.shp
data/PseudoAbsences/Rana_temporaria_pseudo_absences.dbf
data/PseudoAbsences/Lissotriton_helveticus_pseudo_absences.shx
data/PseudoAbsences/Lissotriton_helveticus_pseudo_absences.shp
data/PseudoAbsences/Lissotriton_helveticus_pseudo_absences.dbf
data/PseudoAbsences/Bufo_bufo_pseudo_absences.shx
data/PseudoAbsences/Bufo_bufo_pseudo_absences.shp
data/PseudoAbsences/Bufo_bufo_pseudo_absences.dbf
data/PseudoAbsences/Bufo_bufo_pseudo_absences.dbf
data/PseudoAbsences/Bufo_bufo_pseudo_absences.dbf
data/PseudoAbsences/Bufo_bufo_pseudo_absences.dbf
data/PseudoAbsences/Bufo_bufo_pseudo_absences.dbf
/data/PseudoAbsences
/data/PseudoAbsences
/data/PseudoAbsences
data/PseudoAbsences/Bufo_bufo_pseudo_absences.dbf
data/PseudoAbsences/Bufo_bufo_pseudo_absences.dbf
data/PseudoAbsences/Bufo_bufo_pseudo_absences.dbf
data/PseudoAbsences/Ichthyosaura_alpestris_pseudo_absences.dbf
data/PseudoAbsences/Bufo_bufo_pseudo_absences.dbf
data/PseudoAbsences/Bufo_bufo_pseudo_absences.shp
data/PseudoAbsences/Bufo_bufo_pseudo_absences.shx
data/PseudoAbsences/Ichthyosaura_alpestris_pseudo_absences.dbf
data/PseudoAbsences/Ichthyosaura_alpestris_pseudo_absences.shp
data/PseudoAbsences/Ichthyosaura_alpestris_pseudo_absences.shx
data/PseudoAbsences/Lissotriton_helveticus_pseudo_absences.dbf
data/PseudoAbsences/Lissotriton_helveticus_pseudo_absences.shp
data/PseudoAbsences/Lissotriton_helveticus_pseudo_absences.shx
data/PseudoAbsences/Lissotriton_vulgaris_pseudo_absences.dbf
data/PseudoAbsences/Lissotriton_vulgaris_pseudo_absences.shp
data/PseudoAbsences/Lissotriton_vulgaris_pseudo_absences.shx
data/PseudoAbsences/Rana_temporaria_pseudo_absences.dbf
data/PseudoAbsences/Rana_temporaria_pseudo_absences.shp
data/PseudoAbsences/Rana_temporaria_pseudo_absences.shx
data/PseudoAbsences/Triturus_cristatus_pseudo_absences.dbf
data/PseudoAbsences/Triturus_cristatus_pseudo_absences.shp
data/PseudoAbsences/Triturus_cristatus_pseudo_absences.shx
/data/Predictors
/data/PseudoAbsences
notebooks/cropped_raster.tif
notebooks/path_to_cropped_raster.tif
*.tif
/results/Model_Predictions
results/bias_layers/Bufo_bufo_bias_layer_resampled.pkl
/results/Corrected_Resistance
/results/Connectivity
/data/Resistance/.ipynb_checkpoints
data/Resistance/Focal_Nodes_Raster_Final.asc
data/Resistance/Focal_Nodes_Raster_Final.prj
data/Resistance/Focal_Nodes_Raster_Fixed.asc
data/Resistance/Focal_Nodes_Raster_Fixed.asc.aux.xml
data/Resistance/Focal_Nodes_Raster_Fixed.asc.ovr
data/Resistance/Focal_Nodes_Raster_Fixed.prj
/notebooks/4_Overlay Analysis/cache
/data/OSM
/data
